@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: dmsans;
  src: url(./assets/fonts/DMSans_18pt-Regular.ttf);
}

body {
  margin: 0;
  font-family: dmsans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(33, 100%, 98%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
